{% extends 'base.html' %}

{% load static %}
{% block content %}
<div id="home-page" class="d-flex  justify-content-center align-items-center flex-wrap gap-5 mt-5 p-5">
    <div class="col-5 p-4 shadow rounded">
        <h1>Welcome To mamar Bank </h1>
        <p>This is due to the fact that workplace environments at the present can be considered an amalgam of different
            types of employees ranging from different ethnicities and religious backgrounds to employees belonging to
            different age groups; all of which require different management styles in order to properly maximize their
            potential.

            As indicated by Jaramillo et al. (2009), there are four characteristics that are in demand within present
            day
            technology oriented enterprises, namely: high market responsiveness, fast developments, low cost, and
            finally
            high levels of creativity, innovation and efficiency.

        </p>
    </div>


    <img class="w-50 rounded shadow" src="{%static 'images.jpg'%}">

</div>
{% endblock %}